.footer {
  background-color: #000;
}
.footer__container {
}
.footer__body {
  padding: 64px;
  height: 88px;
  display: flex;
  flex-direction: column;
}
.footer__medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__contacts {
  transform: translateY(-7px);
}
.footer__contacts > * {
  color: #fff;
  font-size: 24px;
}
.footer__contacts > *:not(:last-child) {
  margin: 0 21px 0 0;
}
.footer__contacts > *:first-child {
  text-decoration: underline;
  font-weight: 700;
  line-height: 175%;
}
.footer__contacts > *:last-child {
  text-decoration: none;
  line-height: 130%;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__divider {
  width: 1.6px;
  height: 12px;
  background-color: #6f6f6f;
  margin: 12px 16px;
  transform: translateY(-2px);
}
.footer__link svg {
  color: white;
  transition: 0.3s;
}
.footer__link svg:hover {
  color: yellow;
}
.footer__author {
  margin: 28px 0 0 0;
}
.footer__author > * {
  font-size: 12px;
  color: #fff;
}
.footer__author span {
  line-height: 150%;
  font-weight: 700;
}
.footer__author p {
  font-weight: 400;
}

@media (max-width: 767px) {
  .footer__body {
    padding: 48px 20px;
    height: 100%;
  }
  .footer__contacts {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__contacts > *:first-child {
    line-height: 190%;
    word-break: break-all;
  }
  .footer__contacts > *:not(:last-child) {
    margin: 0 0 15px 0;
  }
  .footer__links {
    margin: 31.7px 0 0 0;
  }
}
